nav{
	height: 70px;
	padding: 10px;
}
nav > a{
	text-decoration: none;
	padding: 7px;
	border-radius: 5px;
}
nav > a.active{
	background-color: #111000;
}
nav * {
	height: 100%;
}
.brandBox{
	height: auto;
}
.notifications-icon{
	position: relative;
}
.notifications-container{
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	padding: 25%;
	background-color: var(--sec-bgColor);
}

.notifications-closer{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	background-color: #eee;
}

.notifications-header{
	font-size: 2rem;
	letter-spacing: 0.1em;
}

.notifications-hr{
	margin: 10px 0;
}