body,
html {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
a {
	display: block;
	text-decoration: none;
}
header {
	width: 100%;
	padding: 5px 10px;
	font-size: 1.5em;
	user-select: none;

	background-color: #f1f1f1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header > a {
	float: right;
}

nav {
	position: absolute;
	top: 0;
	left: 0;

	width: 70%;
	min-width: 300px;
	max-width: 400px;
	height: 100%;

	background-color: #f1f1f1;
	transform: translateX(-400px);
	z-index: 1;
	transition: 0.5s;
}
nav > * {
	display: block;
	font-size: 1.3em;
	padding: 20px;

	color: #555;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
nav ol {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #999;
	transform: translateX(-100%);
}

nav.opened,
nav.opened + #nav_bg {
	transform: translateX(0);
}

input[type="checkbox"] {
	width: 0;
	height: 0;
	overflow: hidden;
}
:checked ~ ol {
	display: block;
}
li {
	padding: 15px;
}
